models/**/*.pth
!models/published/*.pth
/__pycache__
/venv
/figures/mnist/samples/*
!figures/mnist/samples/.keep
/.vscode
/mnist
/data
.env
/grid_search_results/models/*
/grid_search_results/figures/*